
.contact_link_style {
  text-decoration: none;
  @extend .erik_font;
}

.contact_link_style:hover {
  opacity: 0.5;
}

.contact_link_image {
}

.contact_link_image:hover {
  opacity: 0.5;
}

.plain_link:link {
  @extend .contact_link_style;
}

.plain_link:visited {
  @extend .contact_link_style;
}

.plain_link:hover {
  @extend .contact_link_style;
}

.plain_link:active {
  @extend .contact_link_style;
}

.erik_font {
  a {
    @extend .plain_link;
  }
}

.fix_opacity {
  a:hover {
    opacity: 1;
  }
}

.light_color_font {
  color: $light_color;
  a:link {
    color: $light_color;
  }
  a:visited {
    color: $light_color;
  }
  a:hover {
    color: $light_color;
  }
  a:active {
    color: $light_color;
  }
}


