.half_right {
  @include transform(translate(50%, 0));
}

.half_down {
  top: 50%;
  @include transform(translateY(-50%));
}

.pull_left {
  float: left;
}

.pull_right {
  float: right;
}

.justify_all_between {
  @include display(flex);
  @include justify-content(space-between);
}

.justify_all_around {
  @include display(flex);
  @include justify-content(space-around);
}

.align_center {
  @include display(flex);
  @include align-content(center);
}

.center_img {
  @include position(absolute);
  top: 50%;
  left: 50%;
  margin-right: -50%;
  @include transform(translate(-50%, -50%));
}

.pos_rel {
  position: relative;
}

.pos_abs {
  position: absolute;
}

.disp_flex {
  display: flex;
}

.over_hidden {
  overflow: hidden;
}

.vert_align_mid {
  vertical-align: middle;
}

.centered_text {
  text-align: center;
}