<div class="container_huge erik_font light_back ">

    <%= image_tag "landing/about/Erik.png",{ class: "w1520", style:"margin-bottom:150px;"} %>
    <div class="w1520 justify_all_around ">


        <div class="pull_left" style="width: 350px;  overflow: visible; justify-content: space-around;">
            <%= image_tag "landing/about/man.svg", {class: "box_hover_shading", style: "width:100px; height:100px; margin-left:50%; transform:translateX(-50%);"} %>
            <br>
            Меня зовут Эрик Муcин
            Я графический дизайнер
            из Санкт-Петербурга , Россия
        </div>

        <div class="pull_left" style="width: 350px;  overflow: visible; justify-content: space-around;">
            <%= image_tag "landing/about/hat.svg", {class: "box_hover_shading", style: "width:100px; height:100px; margin-left:50%; transform:translateX(-50%);"} %>
            <br>
            Образование - Высшее
            Окончил Государственный университет
            технологии и дизайна по специальности
            «Графический дизайнер».
        </div>

        <div class="pull_left" style="width: 350px;  overflow: visible; justify-content: space-around;">
            <%= image_tag "landing/about/pencil.svg", {class: "box_hover_shading", style: "width:100px; height:100px; margin-left:50%; transform:translateX(-50%);"} %>
            <br>
            Профиль
            Я специализируюсь в различных областях дизайна,
            но основной акцент делаею на логотипах,
            шрифтах,иллюстрациях.
            Всегда открыт для интересных проектов.
        </div>
    </div>
</div>
