<div class="container_huge erik_font light_back " style="text-align: center;">

    <%= image_tag "landing/about/Erik.png", {class: "w1520", style: "margin-bottom:150px;"} %>
    <div class="w1520 justify_all_around ">


        <div class="pull_left about_item">
            <%= image_tag "landing/about/man.svg", {class: "box_hover_shading about_image", style: ""} %>
            <div style="margin-top: 30px;"></div>
            Меня зовут Эрик Мусин.
            <br>
            <br>
            Я графический дизайнер из Санкт-Петербурга, Россия
        </div>

        <div class="pull_left about_item">
            <%= image_tag "landing/about/hat.svg", {class: "box_hover_shading about_image", style: ""} %>
            <div style="margin-top: 30px;"></div>
            Образование - Высшее
            <br>
            Окончил Государственный университет
            технологии и дизайна по специальности
            «Графический дизайнер».
        </div>

        <div class="pull_left about_item">
            <%= image_tag "landing/about/pencil.svg", {class: "box_hover_shading about_image", style: " "} %>
            <div style="margin-top: 30px;"></div>
            Профиль
            <br>
            Я специализируюсь в различных областях дизайна,
            но основной акцент делаею на логотипах,
            шрифтах,иллюстрациях.       
            <br>
            Всегда открыт для интересных проектов.
        </div>
    </div>
</div>
