<div class="container_about erik_font" style="">

    <div class="w_full about_erik_background" style="margin-top:-15px;">
    </div>

    <div class="half single_on_line" style="margin-top: 65px; margin-bottom: 70px;">
        <div class="pull_right half_right single_on_line w400 justify_all_around" style="">
            <div class="justify_all_around circles_panel">
                <div class="circle_button circle_pressed contact_link_image" onclick="changeLanguage()">Rus</div>
                <div class="circle_button contact_link_image" onclick="changeLanguage()">Eng</div>
            </div>
        </div>
    </div>

    <div class="half single_on_line" style="">
        <div class="pull_right half_right single_on_line w1300 justify_all_between" style="">

            <div class="about_item">
                <div class="about_image man_icon"></div>
                <div class="about_text_column_small lang_field">
                    Меня зовут Эрик Мусин.<br>
                    Я графический дизайнер
                    из Санкт-Петербурга, Россия.
                </div>
                <div class="about_text_column_small lang_field hidden_down">
                    My name is Erik Musin.<br>
                    I’m graphic designer from Saint-Petersburg, Russia.
                </div>

            </div>

            <div class="about_item">
                <div class="about_image hat_icon"></div>
                <div class="about_text_column lang_field">
                    Окончил Государственный университет
                    технологии и дизайна по специальности
                    «Графический дизайнер».
                </div>
                <div class="about_text_column lang_field hidden_down">
                    I’ve graduated Saint-Petersburg State University of
                    Technology and Design as graphic designer.
                </div>
            </div>

            <div class="about_item">
                <div class="about_image pencil_icon"></div>
                <div class="about_text_column lang_field">
                    Я специализируюсь в различных областях дизайна,
                    но основной акцент делаю на логотипах,
                    леттеринг, иллюстрациях.
                    Всегда открыт для интересных проектов.
                </div>
                <div class="about_text_column lang_field hidden_down">
                    I specialize on various spheres of design,
                    but my major direction is logos, lettring and illustration.
                    I’m always opened for interesting projects.
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .triangle_about {
        visibility: visible;
    }
</style>