<div class="footer erik_font">
    <div class="w_full footer_inner_container">
        <div class="half single_on_line" style="margin-top: 40px;">
            <nav class="pull_right half_right single_on_line w400 justify_all_between" style="width: 280px;">

                <a href="https://vk.com/erik_musin" class="">
                    <div class="w_icon footer_vk_icon"></div>
                </a>

                <a href="https://www.behance.net/erikmusin" class="">
                    <div class="w_icon footer_behance_icon"></div>
                </a>

                <a href="https://dribbble.com/Mrerik" class="">
                    <div class="w_icon footer_dribble_icon"></div>
                </a>

                <a href="http://instagram.com/mr_erikm" class="">
                    <div class="w_icon footer_insta_icon"></div>
                </a>

                <a href="mailto:erikmusin@gmail.com">
                    <div class="w_icon footer_mail_icon" style="width:36px;"></div>
                </a>
            </nav>

        </div>
    </div>

    <div class="erik_font gray_font" style=" width:100%; text-align: center;">

        All rights reserved.
        <br>
        © 2015
    </div>
</div>