<div class="footer erik_font">
    <div class="w_full footer_inner_container">
        <div class="half single_on_line footer_icons_padding" style="">
            <nav class="pull_right half_right single_on_line w400 justify_all_between" style="width: 280px;">

                <a href="https://vk.com/erik_musin" class="">
                    <div class="w_icon footer_vk_icon"></div>
                </a>

                <a href="https://www.behance.net/erikmusin" class="">
                    <div class="w_icon footer_behance_icon"></div>
                </a>

                <a href="https://dribbble.com/Mrerik" class="">
                    <div class="w_icon footer_dribble_icon"></div>
                </a>
                <%= link_to("http://instagram.com/" + CurContacts::CUR_INSTAGRAM, {class: "", style: ""}) do %>
                    <div class="w_icon footer_insta_icon"></div>
                <% end %>

                <%= link_to("mailto:" + CurContacts::CUR_EMAIL, {class: "", style: ""}) do %>
                    <div class="w_icon footer_mail_icon" style="width:36px;"></div>
                <% end %>
            </nav>

        </div>
    </div>
    <div class="w_full erik_font gray_font footer_text_container">
        <div class="half single_on_line" style="margin-top: 0px;">
            <div class="pull_right half_right single_on_line w400 justify_all_between" style="width: 280px; text-align: center;">
                <div style="width: 280px; text-align: center;">
                    All rights reserved.
                </div>
            </div>
            <div class="pull_right half_right single_on_line w400 justify_all_between" style="width: 280px; text-align: center;">
                <div style="width: 280px; text-align: center;">
                    © 2015
                </div>
            </div>
        </div>
    </div>
</div>