$link_illustration_color: #F9AF43;
$link_logo_color: #F05454;
$link_lettering_color: #F2F2F2;
$link_contact_color: #16AEAA;
$link_about_color: #D6DF23;

$jerry_background_color: #1F5D61;


.color_link_illustration {
  color: $link_illustration_color;
}

.color_link_logo {
  color: $link_logo_color;
}

.color_link_lettering {
  color: $link_lettering_color;
}

.color_link_contact {
  color: $link_contact_color;
}

.color_link_about {
  color: $link_about_color;
}
