<div class="w_full custom_back main_part_top_padding">


    <%= render file: "landing/menu" %>

    <% @pckg.art_illustration_inners.each do |inner| %>
        <%= image_tag inner.image, class: "illustration_extra_inner" %>
    <% end %>
</div>

<style>
    .triangle_illustration {
        visibility: visible;
    }

    .custom_back {
        background-color: <%= @pckg.back_color.html_safe %>;
    }
</style>