<% @art_illustrations.each do |pack| %>
    <div class="letterings_inner">
        <%= link_to("illustrations/extra/" + pack.name, {class: ""}) do %>

            <%= image_tag pack.image, class: "letterings_inner_image" %>
            <div class="letterings_inner_text hidden">
                <%= pack.name %>
            </div>

        <% end %>
    </div>
<% end %>


<style>
    .triangle_illustration {
        visibility: visible;
    }
</style>