<div class = "">
<% @pckgs.each do |pack| %>
    <%= link_to "illustrations/extra/" + pack do %>
        <%= image_tag "pngs/illustration/" + pack + "/preview.png", class: "illustrations_inner" %>
    <% end %>
<% end %>
</div>
