$footer_height:150px;

$footer_before_icons_padding: 30px;
$footer_icons_height: 27px;
$footer_icons_container_height: $footer_before_icons_padding * 2 + $footer_icons_height;

$footer_text_container_height:$footer_height - $footer_icons_container_height;

// 27px; icon size

.footer {
  height: $footer_height;
  background-color: $dark_color;
  width: 100%;
}

.footer_inner_container {
  height: $footer_icons_container_height
}

.footer_icons_padding {
  padding-top: $footer_before_icons_padding;
  
}
.footer_text_container{
  height: $footer_text_container_height;
}