@include font-face('718light', "webfontkit/SevenOneEight-Light-webfont" /*, $file-formats:eot woff woff2 ttf svg*/);

.erik_font {
  font-family: '718light', sans-serif;
}

.font36 {
  font-size: 36px;
}

.font25 {
  font-size: 25px;
}

.contact_link_style {
  text-decoration: none;
  @extend .erik_font;
}

.contact_link_image:hover {
  opacity: 0.5;
}