@include font-face('718light', "webfontkit/SevenOneEight-Light-webfont" /*, $file-formats:eot woff woff2 ttf svg*/);

.erik_font {
  font-family: '718light', sans-serif;
}

.font36 {
  font-size: 36px;
}

.font25 {
  font-size: 25px;
}

.contact_link_style {
  text-decoration: none;
  @extend .erik_font;
}

.contact_link_style:hover {
  opacity: 0.5;
}

.contact_link_image:hover {
  opacity: 0.5;
}

.plain_link:link {
  @extend .contact_link_style;
}

.plain_link:visited {
  @extend .contact_link_style;
}

.plain_link:hover {
  @extend .contact_link_style;
}

.plain_link:active {
  @extend .contact_link_style;
}

.erik_font {
  a {
    @extend .plain_link;
  }
}