@include font-face('718light', "webfontkit/SevenOneEight-Light-webfont" /*, $file-formats:eot woff woff2 ttf svg*/);

/*
@font-face {
  font-family: '718light';
  src: url('/webfont/SevenOneEight-Light-webfont.eot');
  src: url('/webfont/SevenOneEight-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/webfont/SevenOneEight-Light-webfont.woff2') format('woff2'),
  url('/webfont/SevenOneEight-Light-webfont.woff') format('woff'),
  url('/webfont/SevenOneEight-Light-webfont.ttf') format('truetype'),
  url('/webfont/SevenOneEight-Light-webfont.svg#718light') format('svg');
}
*/

.fff {
  font-family: '718light';
  font-size: 42px;
}
