.w100 {
  width: 100px;
}

.w160 {
  width: 160px;
}

.w270 {
  width: 270px;
}

.w300 {
  width: 300px;
}

.w350 {
  width: 350px;
}

.w400 {
  width: 400px;
}

.w500 {
  width: 500px;
}

.w560 {
  width: 560px;
}

.w600 {
  width: 600px;
}

.w700 {
  width: 700px;
}

.w800 {
  width: 800px;
}

.w1200 {
  width: 1200px;
}
.w1300 {
  width: 1300px;
}

.w1520 {
  width: 1200px;
}

