<div class="letterings_pack">
    <% @letterings_1.each do |lettering| %>
        <%= image_tag "pngs/Lettering/pc/" + lettering, class: "letterings_inner" %>
    <% end %>
    <% @letterings_2.each do |lettering| %>
        <%= image_tag "pngs/Lettering/hand/" + lettering, class: "letterings_inner" %>
    <% end %>
</div>
