<% @letterings.each do |lettering| %>
    <div class="letterings_inner">
        <%= image_tag lettering.image, class: "letterings_inner_image" %>
        <div class="letterings_inner_text hidden">
            <%= lettering.name %>
        </div>
    </div>
<% end %>

<style>
    .triangle_lettering {
        visibility: visible;
    }
</style>