<div class="letterings_pack">
    <% @letterings_1.each do |lettering| %>
        <%= image_tag "pngs/Lettering/pc/" + lettering, class: "pull_left letterings_inner" %>
    <% end %>
</div>
<div class="letterings_pack">
    <% @letterings_2.each do |lettering| %>
        <%= image_tag "pngs/Lettering/hand/" + lettering, class: "pull_left letterings_inner" %>
    <% end %>
</div>