* {
  margin: 0;
  padding: 0;
  outline: none;
}

$light_color : #FFFBF2;
$dark_color : #1A1A1A;

.container {
  width: 100%;
  @include position(relative);
}

.container_first {
  @extend .container;
  height: 800px;
}

.container_common {
  @extend .container;
  height: 550px;
}

.container_last {
  @extend .container_common;
}

.half {
  float: left;
  width: 50%;
}

.single_on_line {
  clear: both;
}

.hidden {
  visibility: hidden;
}

/*
.image_helper {
  @include display(inline_block);
  height: 100%;
  vertical-align: middle;
}
*/