.landing_main {
  background-color: #1A1A1A;
}

.land_illustration {
  @include background(url("landing/illustration/illustration_background.svg") #1A1A1A center center / cover no-repeat);
}

.land_logo {
  background-color: #FFFBF2;
}

.land_lettering {
  @include background(url("landing/lettering/lettering_background.svg") #FFFBF2 center / cover no-repeat);
}

.land_contacts {
  background-color: #FFFBF2;
}