.landing_main {
  background-color: #1A1A1A;
}

.land_illustration {
  background-color: #1A1A1A;
  background-image: url("/images/illustration.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.land_logo {
  background-color: #FFFBF2;
}

.land_lettering {
  background-color: #FFFBF2;
  background-image: url("/images/lettering.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.land_contacts {
  background-color: #FFFBF2;
}