.landing_main {
  background-color: $dark_color;
}

.land_illustration {
  @include background(url("landing/illustration/illustration_background.svg") $dark_color center center / cover no-repeat);
}

.opacity30 {
  opacity: 0.3;
}

.land_logo {
  background-color: $light_color;
}

.land_lettering {
  @include background(url("landing/lettering/lettering_background.svg") $light_color center / cover no-repeat);
}

.land_contacts {
  background-color: $light_color;
}

.logo_word {
  @include background(url("landing/logo/logo.svg") center center / auto no-repeat);
}
//
//.logo_word:hover {
//  opacity: 0.4;
//}