.half_right {
  @include transform(translate(50%, 0));
}

.pull_left {
  float: left;
}

.pull_right {
  float: right;
}

.over_hidden {
  overflow: hidden;
}

.justify_all_between {  
  @include display(flex);
  @include justify-content(space-between);
}

.justify_all_around {
  @include display(flex);
  @include justify-content(space-around);
}

.align_center {
  @include display(flex);
  @include align-content(center);
}


.center_img {
  @include position(absolute);
  top: 50%;
  left: 50%;
  margin-right: -50%;
  @include transform(translate(-50%, -50%));
}