.h_word_link {
  height: 17px;
  opacity: 1;
}

.h_word_link:hover {
  opacity: 0.5;
}

.w_icon {
  width: 27px;
  height: 27px;
  display: block;
  @include background-size(cover);
}

.dribble_icon {
  @include background-image(url("landing/first_page_white/dribbble.svg"));
}

.dribble_icon:hover {
  @include background-image(url("landing/first_page/dribbble.svg"));
}

.behance_icon {
  @include background-image(url("landing/first_page_white/Behance.svg"));
}

.behance_icon:hover {
  @include background-image(url("landing/first_page/Behance.svg"));
}

.vk_icon {
  @include background-image(url("landing/first_page_white/VK.svg"));
}

.vk_icon:hover {
  @include background-image(url("landing/first_page/VK.svg"));
}

.insta_icon {
  @include background-image(url("landing/first_page_white/Instagramm.svg"));
}

.insta_icon:hover {
  @include background-image(url("landing/first_page/Instagram.svg"));
}