.w350 {
  width: 350px;
}

.w700 {
  width: 700px;
}

.w800 {
  width: 800px;
}

.w600 {
  width: 600px;
}
.w400 {
  width: 400px;
}

.w1200 {
  width: 1200px;
}
.w560 {
  width: 560px;
}

.h150 {
  height: 150px;
}