<% @logos.each do |logo| %>
    <div class="letterings_inner">
        <%= image_tag logo.image, class: "letterings_inner_image" %>
        <div class="letterings_inner_text hidden">
            <%= logo.name %>
        </div>
    </div>
<% end %>

<style>
    .triangle_logo {
        visibility: visible;
    }
</style>