@import "bourbon";

@import "front_page/commons";
@import "front_page/landing_erik";
@import "front_page/landing_next";
@import "front_page/opacities";
@import "front_page/sizes";

@import "others/fonts";
@import "others/letterings";
@import "others/illustrations";
@import "others/logos";

@import "nexts/menu";
@import "nexts/backs";


.grand_body {
  background-color: dimgrey;
  width : 100%;
}

.grand {
  width: 1535px;
  margin: auto;
}