@import "bourbon";

@import "front_page/commons";
@import "front_page/landing_erik";
@import "front_page/landing_next";
@import "front_page/sizes";

@import "others/fonts";
@import "others/letterings";
@import "others/illustrations";
@import "others/logos";


.grand_body {
  background-color: grey;
  width : 100%;
}

.grand {
  width: 1400px;
  margin: auto;
}