$common_height: 110px;
$first_left: 0px;
$others_left: 40px;
$up_margin: 15px;

$item_width: 90px;
$image_out_size: 40px;
$image_size: 30px;

$img_word_space: 7px;
$word_height: 7px;

.menu_erik {
  height: 50px;
  margin-top: 30px;
}

.menu {
  @include position(fixed);
  top: 0;
  width: 100%;
  height: $common_height;
  line-height: $common_height;
  background-color: $dark_color;
  z-index: 1500;
}

.menu_inner_container {
  width: 1520px;
  height: $common_height;
}

.main_part_top_margin {
  margin-top: $common_height + 15px;
}

.menu_left_space {
//  @extend .pull_left;
  width: $first_left;
  height: $common_height;
}

.menu_between_space {
//  @extend .pull_left;
  width: $others_left;
  height: $common_height;
}

.menu_item {
  @extend .pull_left;
  margin-top: $up_margin;
  margin-bottom: $up_margin;
  width: $item_width;
  height: $common_height - 2 * $up_margin;
}

.menu_image_out {
  width: $image_out_size;
  height: $image_out_size;
  margin-left: ($item_width - $image_out_size) / 2;
  margin-top: ($common_height - 2 * $up_margin - $image_out_size) / 2;
}

.menu_image {
  width: $image_size;
  height: $image_size;
  margin-left: ($image_out_size - $image_size) / 2;
  margin-top: ($image_out_size - $image_size) / 2;
}

.menu_word {
  margin-top: $img_word_space;
  width: $item_width;
  height: $word_height;
  text-align: center;
}

.between_space {
  height: 10px;
}