.admin_actions_table {
  width: 175px;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  background-color: #F05454;
  align-content: space-around;
  justify-content: space-around;
  text-align: center;
}