<!DOCTYPE html>
<html>
<head>
    <title>Erik Musin</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=1535px, initial-scale=1">
</head>

<!--class="grand_body"-->
<body >

<!--<div class="grand">-->
    
<%= yield %>
    
<!--</div>-->

</body>

</html>